* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: 100%;
}

body {
    height: 100%;
}

header {
    background-color: red;
    height: 100px;
    text-align: center;
}

nav {
    height: 25px;
    width: 100%;
    background-color: yellow;
}

ul {
    list-style: none; /* elementele listei nu sunt numerotate in niciun fel*/
    display: flex;   /*elementele pot fi pozitionate dupa cum dorim flexible */
}

li {
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

div {
    background-color: green;
    padding: 20px;
    min-height: calc(100% - (100px + 25px + 60px + 40px));
}

footer {
    background-color: pink;
    height: 60px;
    text-align: center;
}