.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #A0C5E8;
    max-width: 40vh;
    border: 1px solid black;
    font-size: 12px;
}

.cell {
    display: block;
    width: calc(50% - 40px);
    background: white;
    padding: 10px;
    margin: 10px;
    height: 20vh;
}

.label {
    text-align: center;
    vertical-align: bottom;
}

img {
    width: 100%;
    height: 18vh;
}